* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  .selectbox{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  }
  .kotak {
    display: flex;
    
    
  }
  .kotak input{
    display: flex;
    width:5rem;
  }
  .kotak button{
    display: flex;
  }
  .kotak select {
    background-color: white;
    color: black;
    padding :12px;
    width: 250px;
    border :none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline :none;
  }
  
  .kotakbefore {
    content: f13a;
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right :0;
    width: 20%;
    height: 100%;
    text-align :center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .kotakhoverbefore {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .kotak select option {
    padding: 30px;
  }
.coba{
  background-color:#0be881;
}
  .nama{
    min-height: 5vh;
    display: flex;
    width:90% ;
    margin: auto;
    justify-content: center;
    align-items: center;
     
  
  }
  .kotaknama{
    display: flex;
    flex: 1 1 20rem;
  }
  .tombol{
    flex:1 1 20rem;
  }

 
  